/* styles.css */
* {
    box-sizing: border-box;
}
body {
    background-color: #F5F5F5;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(125deg, #4a4e9a, #7474bf); /* Gradiente en fondo */
}
header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(125deg, #4a4e9a, #7474bf); /* Gradiente en fondo */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #336699;
    color: white;
    padding: 10px;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    margin-right: 20px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}
.navbar a:hover {
    background-color: #00008B;
    color: #696969;
}
main {
    position: relative; /* Añadido para que las secciones puedan superponerse al fondo */
}
section {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Fondo blanco para las secciones internas */
}
.about {
     background-image: linear-gradient(125deg, #4a4e9a, #7474bf); /* Gradiente en fondo */
}

.projects {
    background-color: #C7D8A8; /* Fondo de las seccion "Proyectos" */
    color: #000;
    margin: 0 auto; /* Centra las seccion"Proyectos" */
    max-width: 300px; /* Ajusta el ancho máximo según tus preferencias */
    margin-bottom: 30px; /* Ajusta el margen inferior según tus preferencias */
    padding: 20px; /* Ajusta el relleno interno según tus preferencias */
    text-align: center; /* Centra el contenido en las seccion "Proyectos" */
}
.skills ul,
.projects ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.skills li,
.projects li {
    margin-bottom: 10px;
}
.skills li:last-child,
.projects li:last-child {
    margin-bottom: 0;
}
.contact {
    background-color: #336699; /* Fondo de la sección "Contacto" */
    margin: 0 auto; /* Centra el contenido en la sección de contacto */
    max-width: 1300px; /* Ajusta el ancho máximo según tus preferencias */
    padding: 10px; /* Ajusta el relleno interno según tus preferencias */
    text-align: center; /* Centra el contenido en la sección de contacto */
}
.contact a {
    color: black;
}
h2 {
    font-size: 24px;
    margin-top: 0;
}
/* imagen de perfil */
img {
    position: absolute; 
    right: 150px; 
    top: 15%; 
    transform: translateY(-48%); 
    width: 15%; /* Ancho de la imagen */
    margin-bottom: 10px;
    border-radius: 100%;
}
/*icono de instagram, wpp, github*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
}
.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}
.social-links a {
    margin-right: 10px; /* Ajusta el margen derecho entre los iconos */
}
.social-links img {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}
footer {
    background-color: #444;
    color: white;
    padding: 2px;
    text-align: center;
}
